<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <sessionState cookieless="true" regenerateExpiredSessionId="true"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <authentication mode="Forms">
      <forms name="ASPXAUTH" loginUrl="Login.aspx" protection="All" path="/" timeout="30" slidingExpiration="true" defaultUrl="Default.aspx" cookieless="AutoDetect"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
  </system.web>
  <connectionStrings>
    <add name="sqlserver" connectionString="server=vps1.svogel.me;user=naraku9333;database=notebase;port=3306;password=Mikal9333;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="localhost.SaltGeneratorService" value="http://localhost:50941/SaltGeneratorService.asmx"/>
  </appSettings>
</configuration>