<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <sessionState cookieless="true" regenerateExpiredSessionId="true"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
  <add key="localhost.SaltGeneratorService" value="http://localhost:50941/SaltGeneratorService.asmx"/>
  </appSettings>
</configuration>